{% extends 'base_template.html' %}
{% block title %}Ава{% endblock %}

        {% block word_description %}
        <br>На сленге авка или ава это тоже самое,
        <br>что аватарка - картинка,
        <br>фотография, любое изображение,
        <br>которое пользователи используют в качестве фото своего профиля на сайтах,
        <br>форумах, блогах, социальных сетях,
        <br>мессенджерах и т.д.
        <nav>
            <a href="{{ url_for('display_words1')}}">Назад</a>
        </nav>
        {% endblock %}
            
        
   