<html>
    <head>
        <title>Lingvistic</title>
    </head>
    <body>
        <h>Lingvistic's problems</h>
        <i>
            <br> Молодёжный сленг — это слова и выражения,
            <br>популярные среди детей и подростков.
            <br>Разбираться в молодёжном жаргоне полезно в любом возрасте:
            <br>это помогает понять,
            <br>о чём говорят ваши дети,
            <br>младшие братья и сёстры и просто люди вокруг.
            <br>Речь — одна из ярких характеристик любой группы,
            <br>социальной или возрастной.
            <br>В таком ключе сленг подростков
            <br>— вполне закономерное явление. Слова, 
            <br>которые они используют в реальном мире, 
            <br>зародились в виртуальном, 
            <br>преимущественно в соцсетях и играх.
            <br>Что опять же неудивительно,
            <br>ведь большинство подростков не представляют свою жизнь без смартфонов,
            <br>планшетов и компьютеров.

            <br>Язык подвижен, он постоянно развивается и обновляется.
            <br>На смену популярным сегодня сленговым словам придут другие.
            <br>Поэтому взрослым,
            <br>которые хотят разговаривать с подростками на одном языке и таким образом быть к ним ближе,
            <br>важно не просто один раз выучить топовые выражения,
            <br>но и вовремя обновлять их список.</i>

            <nav>
                <a href="{{ url_for('display_words1')}}">Слэнг сейчас</a>
                <br> <a href="{{ url_for('display_words2')}}">Слэнг динозавров</a>
            </nav>

    </body>
</html>