<p>Топ-20 сленговых фраз чтобы элементарно понимать что к чему</p>
<ul>
    <li><i>Ава</i></li>
    <li><i>Вайб</i></li>
    <li><i>Донатить</i></li>
    <li><i>Жиза</i></li>
    <li><i>Краш</i></li>
    <li><i>Кринж</i></li>
    <li><i>Криповый</i></li>
    <li><i>Мерч</i></li>
    <li><i>Олды</i></li>
    <li><i>Рандом</i></li>
    <li><i>Рил</i></li>
    <li><i>Рофл</i></li>
    <li><i>Сасный</i></li>
    <li><i>Стримить</i></li>
    <li><i>Топ, топчик</i></li>
    <li><i>Хайп</i></li>
    <li><i>Чилить</i></li>
    <li><i>Шипперить</i></li>
    <li><i>Дефолт</i></li>
    <li><i>НПС</i></li>
</ul>
